html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#sketch {
    position: relative;
}

#sketch canvas {
    display: block;
}

.settings-container {
    position: absolute;
    padding: 8px;
    left: 0px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}

.settings-btn {
    display: block;
}

.settings-btn.inactive {
    background-color: gray;
}